body {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  direction: rtl;
  background-color: #f9f9f9;
  color: #333;
}

.hero {
  position: relative;
  background: #000;
      background-image: url(https://i.postimg.cc/HWQQbX4M/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.3s ease;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(29 33 33 / 60%);
}

.hero .content {
  position: relative;
  z-index: 2;
}

.hero img {
  max-width: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn-primary, .btn-secondary {
  display: inline-block;
  padding: 12px 20px;
      background-color: #235031;
    border: 1px solid #1a9e77;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: #0a7646;
}

.services {
  padding: 50px 20px;
  background: #fff;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ff9800;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.service {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.1rem;
}

.info {
  background: #1e6c36;
  color: white;
  padding: 40px 20px;
}

.info h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

footer {
  background: #222;
  color: white;
  padding: 15px;
  font-size: 0.9rem;
}
